@import "fonts"
@import "vars"

.title-line
  width: 100%
  display: flex
  align-items: flex-end
  h1
    width: fit-content
    margin: 0

.catalog-val
  margin: 0 0 5px 20px
  color: rgba(#252634, .6)

.list-sales
  display: flex
  align-items: stretch
  flex-wrap: wrap
  font-size: 14px
  font-weight: 500
  li
    margin: 0 10px 10px 0

    &:last-child
      margin: 0 0 10px
    a
      padding: 11px 22px
      color: #fff
      background: #DD50AD
      border-radius: 30px

.submenu
  padding: 0 0 0 10px
  margin: 10px 0 15px
  font-size: 16px
  li
    a
      padding: 7px 10px
      border-radius: 8px
      color: #0D0D0E
      width: fit-content
      &:hover
        background: #E95670
        color: #fff

.dropdown-menu-sidebar
  position: relative !important
  background: transparent
  box-shadow: none
  padding: 0
  left: 0
  top: 0
  transform: none !important
  width: 100%
  border: none
    radius: 0
  margin: 0
  min-width: auto

.sidebar-category
  margin: 0 0 20px
  font-weight: 600
  font-size: 20px
  color: #0D0D0E
  &:hover
    color: $accent

.sidebar-menu
  width: 100%
  font-size: 16px
  font-weight: 500
  li
    a
      padding: 7px 10px
      border-radius: 8px
      color: #0D0D0E
      width: fit-content
      &:hover
        background: #E95670
        color: #fff
    .dropdown-toggle
      &:hover
        &::after
          filter: brightness(0) invert(1)

.dropdown-toggle::after
  background: url("../img/arrow-bottom.svg") no-repeat center
    size: 100%
  border: none
  width: 24px
  height: 24px
  vertical-align: middle
  margin-left: 5px

.sidebar-box
  margin: 0 0 20px
  &:last-child
    margin: 0

.btn-clear-filter
  display: flex
  align-items: center
  color: #B0B1BF
  font-weight: 500
  font-size: 16px
  margin: 0 0 0 auto
  &__icon
    width: 20px
    height: 20px
    margin: 0 0 0 8px
    fill: #B0B1BF
    display: flex
    align-items: center
    justify-content: center
  &:hover
    color: #252634
  &:focus
    color: #0D0D0E

.filter-wrapper, .sorting-wrapper
  width: 100%
  display: flex
  align-items: center
  flex-wrap: wrap
  margin: 0 0 15px
  h4
    margin: 0 15px 0 0

.dropdown-filter
  margin: 0 10px 0 0


.dropdown-filter-toggle
  border: 1px solid rgba(176, 177, 191, 0.3)
    radius: 10px
  padding: 7px 15px
  color: #0D0D0E
  font-size: 16px
  font-weight: 500
  &:after
    width: 24px
    height: 24px
    margin: 0 0 0 5px
    border: none
    background: url("../img/arrow-bottom.svg") no-repeat center
      size: 100%
  &:hover
    border: 1px solid rgba(233, 86, 112, 0.3)
    color: #0D0D0E
  &:focus
    border: 1px solid rgba(176, 177, 191, 0.3)
    color: #0D0D0E
    &:after
      transform: rotate(180deg)

.dropdown-menu-filter
  min-width: 235px
  margin: 12px 0 0
  box-shadow: 0px 10px 60px rgba(13, 13, 14, 0.11)
  background: #fff
  border: none
  padding: 17px 5px 10px 20px
  border-radius: 8px
  overflow: visible
  left: 50% !important
  top: 100% !important
  transform: translateX(-50%) !important
  &:before
    content: ''
    width: 0
    height: 0
    border-left: 6.5px solid transparent
    border-right: 6.5px solid transparent
    border-bottom: 7px solid #fff
    left: 50%
    transform: translateX(-50%)
    top: -7px
    position: absolute
  .btn
    margin: 0 auto
    height: 46px
    padding: 0 21px
    font-size: 14px
  .scroll-text
    height: auto
    max-height: 305px
  .list-checkbox
    margin: 0
    li
      display: flex
      align-items: center
      margin: 0 0 8px

  .checkbox-title
    margin: 0
  .mCustomScrollBox
    padding: 0
    margin: 0
    &:before
      display: none
  .mCSB_scrollTools
    left: auto
    width: 6px
    right: 0
  .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_draggerRail
    width: 6px

.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar
  background-color: $accent


.filter-val
  margin: 0 0 0 10px
  color: rgba(#252634, .35)

.dropdown-menu__footer
  width: 100%
  padding: 10px 15px 0 0

.color-circle
  border: 1px solid #FFFFFF
  border-radius: 50%
  margin: 0 8px 0 0
  width: 18px
  height: 18px
  min-width: 18px

.color-circle-beige
  background: #F9D9D9

.color-circle-black
  background: #000

.color-circle-white
  background: #fff
  border: 1px solid rgba(176, 177, 191, 0.5)

.color-circle-blue
  background: #7FE4F2

.color-circle-blue-dark
  background: #203DA4

.color-circle-green
  background: #47A36C

.color-circle-red
  background: #DC3232

.color-circle-pink
  background: #EF72A6

.color-circle-khaki
  background: #3A6947

.color-circle-violet
  background: #CE3AB6

.sorting-wrapper
  margin: 0 0 35px
  .links-details__icon
    margin: 0 0 0 10px

.list-sorting
  display: flex
  align-items: center
  flex-wrap: wrap
  margin: 0 auto 0 0
  font-size: 16px
  font-weight: 500
  li
    margin: 0 15px 0 0
    a
      color: rgba(#252634, .65)
      &:hover
        color: $accent
    .active
      color: $accent

.pagination-nav
  margin: 0 auto 35px
  width: 100%

.pagination
  border-radius: 0
  align-items: center
  justify-content: center
  flex-wrap: wrap

.page-item
  margin: 0 5px 0 0
  &:last-child
    margin: 0

.pagination-prev, .pagination-next
  display: flex
  align-items: center
  justify-content: center
  fill: $accent
  color: #252634
  font-size: 16px
  font-weight: 500
  &__icon
    display: flex
    align-items: center
    justify-content: center
    width: 24px
    height: 24px
    padding: 7px
  &:hover
    color: $accent
  &:focus
    color: #DA3351

.pagination-prev
  margin: 0 20px 0 0
  &__icon
    margin: 0 5px 0 0

.pagination-next
  margin: 0 0 0 20px
  &__icon
    margin: 0 0 0 5px

.page-link
  border-radius: 50%
  padding: 0
  display: flex
  align-items: center
  justify-content: center
  width: 40px
  height: 40px
  min-width: 40px
  color: #252634
  font-size: 17px
  font-weight: 600
  border: none
  &:hover
    background: rgba(#B0B1BF, .15)
    color: #252634
  &:focus
    background: $accent
    color: #fff

.page-item.active .page-link
  background: #E95670
  color: #fff

.catalog-info
  margin: 40px 0 75px

.catalog-banner
  min-height: auto
  margin: 0 0 40px
  .main-slider-box__img
    max-width: 600px
    max-height: 670px
    height: 670px
    width: 100%
    position: absolute
    right: 0
    bottom: 0
    display: flex
    align-items: center
    justify-content: flex-end
  .main-slider-box__content
    width: calc(100% - 600px)
    padding: 65px 0 50px
    max-width: none
  .main-slider__title
    font-size: 70px
    line-height: 73px
  .box-text-info
    max-width: 649px
    margin: 25px 0 49px
    font-size: 17px
    font-weight: 600
    color: #0D0D0E
    line-height: 27px
  .box-text
    margin: 0
    font-size: 16px
    .links-details__text
      padding: 0


.slogan
  background: #0D0D0E
  border-radius: 8px
  margin: 20px 0 0
  color: #fff
  width: fit-content
  padding: 10px 15px
  font-size: 17px
  font-weight: 600

.catalog-info-box
  margin: 0 0 40px
  &:last-child
    margin: 0
  h3
    margin: 0 0 20px
    font-size: 28px
  h4
    margin: 30px 0 20px
    font-size: 20px
  .list-dots
    line-height: 23px
    color: $text
    strong
      color: #0D0D0E
      font-weight: 500
    li
      margin: 0 0 10px
      &:last-child
        margin: 0