@import "fonts"
@import "vars"

//header
header
  position: relative
  z-index: 2

  .links-details
    margin: 0 0 0 40px

.logo
  max-width: 175px
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  img
    width: 100%

.header-top
  background: rgba(#B0B1BF, .12)
  padding: 21px 0 24px

.address
  display: flex
  align-items: center
  color: $text-dark
  margin: 0 auto

  .svg-icon
    width: 25px
    height: 25px
    min-width: 25px
    margin: 0 10px 0 0

.insta-link
  display: flex
  align-items: center
  width: 45px
  height: 45px
  min-width: 45px
  border-radius: 50%
  fill: #fff
  margin: 0 15px 0 0
  padding: 13px
  font-size: 18px
  font-weight: 600

.phone
  font-size: 18px
  font-weight: 600
  color: $text-dark
  margin: 0 42px 0 0

  &:hover
    color: $text-dark

.links-cabinet
  display: flex
  align-items: center
  width: 24px
  height: 24px
  position: relative
  min-width: 24px
  fill: #252634
  margin: 0 23px 0 0

  &:last-child
    margin: 0 13px 0 0

  &__val
    position: absolute
    width: 25px
    height: 25px
    border-radius: 50%
    display: flex
    align-items: center
    justify-content: center
    color: #fff
    box-shadow: 0px 5px 15px rgba(243, 60, 93, 0.3)
    background: $accent
    font-size: 14px
    font-weight: bold
    top: -8px
    right: -13px


.header-bottom
  background: #0D0D0E
  color: #fff
  padding: 13px 0
  position: relative

.menu
  display: flex
  align-items: center
  flex-wrap: wrap
  margin: 0 auto
  font-size: 16px
  font-weight: 500

  li
    margin: 0 65px 0 0

    &:last-child
      margin: 0

    a
      color: #fff

      &:hover
        color: $accent

.btn-size
  display: flex
  align-items: center
  cursor: pointer


.btn-size__close
  width: 8px
  height: 8px
  fill: #fff
  opacity: 0.65
  margin: 0 0 0 2px
  display: flex
  align-items: center
  justify-content: center

.btn-size__val
  display: flex
  align-items: center
  color: #ffffff
  background: $accent
  padding: 3px 7px
  border-radius: 3px
  margin: 0 0 0 10px

.header-box
  display: flex
  align-items: center

.btn-burger
  display: none
  flex-direction: column
  align-items: flex-start
  width: 24px
  cursor: pointer

  span
    height: 2px
    width: 100%
    display: block
    margin: 0 0 7px
    background: #fff

    &:last-child
      margin: 0

.form-search
  max-width: 336px
  width: 100%
  display: flex
  align-items: flex-start

  input
    background: transparent
    border-bottom: 1px solid rgba(#FFFFFF, .25)
    padding: 0 0 10px
    color: rgba(#fff, .45)
    font-weight: 500

    &::placeholder
      color: rgba(#fff, .45)

    &:focus
      border-bottom-color: #fff

  button
    background: transparent
    margin: 0 15px 0 0
    width: 23px
    height: 23px
    min-width: 23px
    fill: #fff

  label
    width: calc(100% - 23px - 15px)

//header dropdown
.header-dropdown
  position: absolute
  top: 100%
  left: 0
  z-index: 5
  width: 100%
  border-radius: 0 0 8px 8px
  background: linear-gradient(0deg, rgba(176, 177, 191, 0.13), rgba(176, 177, 191, 0.13)), #FFFFFF
  display: none
  padding: 30px 0

.catalog-dropdown-wrapper
  display: flex
  align-items: flex-start
  flex-wrap: wrap
  justify-content: space-between

.catalog-dropdown-col
  width: 20%

  .sidebar-menu
    padding: 0

.catalog-dropdown__title
  margin: 0 0 20px
  background: rgba(176, 177, 191, 0.15)
  border-radius: 8px
  padding: 7px 18px
  color: #E95670
  font-size: 20px
  font-weight: 600
  width: fit-content

  &:hover
    background: $accent
    color: #fff

.table-sizes
  width: 100%
  max-width: 1326px
  margin: 0 auto
  font-size: 16px
  font-family: $default-font
  text-align: center
  color: rgba(#0D0D0E, .65)
  border-spacing: 2px
  border-collapse: separate

  thead
    th
      border: none
      vertical-align: middle

  th
    &:first-child
      background: transparent

  tr
    border: none

  th, td
    border-radius: 5px
    border: none
    padding: 15px
    cursor: pointer
    vertical-align: middle

  td
    background: #fff

    &:hover
      background: $accent
      color: #fff

  th, .table-sizes__col
    background: rgba(#B0B1BF, .15)
    font-weight: 500
    cursor: none
    pointer-events: none
    color: #0D0D0E

  .hover-td
    background: linear-gradient(0deg, rgba(233, 86, 112, 0.1), rgba(233, 86, 112, 0.1)), #FFFFFF

.mobile-menu
  position: fixed
  display: none
  z-index: 10
  left: 0
  top: 77px
  height: calc(100% - 77px)
  max-width: 374px
  width: 100%
  background: #0D0D0E
  padding: 29px 24px 20px
  color: #fff
  overflow-y: auto

  &__body
    padding: 29px 0 0
    width: 100%

  &__head
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: wrap

    .phone, .insta-link
      display: none

    .phone
      color: #fff
      font-size: 18px
      font-weight: 600

  .dropdown-toggle.click
    color: $accent

    &:after
      transform: scale(1, -1)

  .btn-catalog-mobile.click
    background: rgba(233, 86, 112, 0.1)
    border-radius: 8px
    padding: 7px 10px
    color: $accent
  .form-search, .btn-sing, .phone, .address
    display: none
  .table-scrollbox
    margin: 15px 0 0
    .table-sizes
      font-weight: 500
      td
        border: none
        &:hover
          background: $accent
          color: #fff
      td, th
        width: 81px
        min-width: 81px
        height: 50px
        font-size: 13px
        color: rgba(#0D0D0E, .65)
      th, .table-sizes__col
        background: rgba(#B0B1BF, .5)
        color: #fff
        font-weight: 500
        font-size: 16px
    .hover-td
      background: linear-gradient(0deg, rgba(233, 86, 112, 0.35), rgba(233, 86, 112, 0.35)), #FFFFFF



.btn-size-sorting
  &:after
    display: none

.dropdown-menu-mobile
  position: relative
  transform: none
  background: transparent
  border: none
    radius: 0
  left: 0
  top: 0
  width: 100%
  height: auto
  padding: 0
  margin: 0
  min-width: auto
  display: none

.btn-close-menu
  display: flex
  align-items: center
  justify-content: center
  fill: #fff
  width: 24px
  height: 24px

.menu-mobile-wrapper
  width: 100%
  height: 100%
  font-size: 20px
  font-weight: 500

  a
    color: #fff
    padding: 7px 0
    width: fit-content

  > li
    margin: 0 0 14px

    &:last-child
      margin: 0

.mobile-menu-sub
  font-size: 16px
  font-weight: 600
  margin: 10px 0 20px
  padding: 0 0 0 16px

  li
    margin: 0 0 13px

    &:last-child
      margin: 0

  a
    padding: 0

    &:hover
      color: #E95670

.menu-level2
  padding: 0 0 0 20px
  margin: 10px 0 20px

//.mobile-filter-sizes
//  width: 100%
//
//  .btn
//    margin: 0 auto
//    padding: 16px 21px
//    height: 52px
//
//.model-filter-sizes-wrapper
//  width: 100%
//  padding: 0 54px
//  position: relative
//  display: flex
//  align-items: flex-start
//  justify-content: center
//  margin: 0 auto 20px
//
//  &:before, &:after
//    content: ''
//    position: absolute
//    left: 0
//    width: 100%
//    height: 1px
//    background: #fff
//    opacity: 0.08
//
//  &:before
//    top: 114px
//
//  &:after
//    bottom: 114px
//
//  .slick-slide
//    border: none
//
//  .slick-current
//    .mobile-filter-sizes__item
//      opacity: 0.9
//
//    + .slick-slide .mobile-filter-sizes__item
//        opacity: 1
//        color: $accent
//    + .slick-slide + .slick-slide .mobile-filter-sizes__item
//        opacity: .9
//
//.mobile-filter-sizes-slider-left
//  max-width: 80px
//  width: 100%
//  margin: 0 20px 0 0
//
//.mobile-filter-sizes-slider-left, .mobile-filter-sizes-slider-right
//  position: relative
//
//.mobile-filter-sizes-slider-right
//  max-width: 80px
//  width: 100%
//
//
//.mobile-filter-sizes__item
//  text-align: center
//  height: 58px
//  font-size: 24px
//  color: #fff
//  opacity: .35
//  display: flex
//  align-items: center
//  justify-content: center
