@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1680px)
  .not-undefined h1
    font-size: 90px

@media only screen and (max-width: 1450px)
  .not-undefined h1
    font-size: 60px

@media only screen and (max-width: 1380px)
  .footer-menu
    font-size: 14px
    max-width: 200px

    li
      margin: 0 0 15px

  .logo
    max-width: 165px

@media only screen and (max-width: 1300px)
  .form-search
    max-width: 223px

  .menu li
    margin: 0 30px 0 0

  .header-bottom
    padding: 11px 0

  footer
    padding: 20px 0
    position: relative

    .btn
      padding: 16px 20px

  .list-social li
    margin: 0 10px 0 0

  .contacts-links
    font-size: 13px


@media only screen and (max-width: 1200px)
  .logo
    max-width: 140px

  header
    .links-details
      margin: 0 0 0 20px

  .phone
    margin: 0 20px 0 0

  .address
    font-size: 14px

  .not-undefined
    h1
      font-size: 50px

    .slider-decor1
      max-width: 123px
      left: -73px

    .slider-decor2
      max-width: 155px
      left: 199px
      bottom: -76px

    .slider-decor3
      max-width: 116px
      left: -35px
      top: 4px

    .box-text
      margin: 20px 0 35px
      font-size: 18px
      font-weight: 600

  .catalog-dropdown__title
    font-size: 14px
    padding: 7px 18px
    margin: 0 0 15px

  .sidebar-menu, .sidebar-submenu
    font-size: 14px

  .sidebar-menu li a
    padding: 4px 6px

  .header-dropdown
    padding: 24px 0

  .sidebar-submenu
    margin: 8px 0 15px

  .table-sizes
    font-size: 13px

    th, td
      padding: 10px
      width: 58px
      height: 36px
      min-width: 56px

  .contacts-box
    font-size: 17px

    span
      margin: 0 0 5px

  .contacts
    h2
      margin: 0

  .contacts-content
    padding: 45px 0

  .map
    min-width: 600px

  .footer-box
    .copyright
      display: none

  .copyright
    max-width: none
    margin: 25px auto 0
    width: fit-content

  .footer-box-menu
    margin: 20px 24px 0 0
    order: 1

  .footer-box-callback
    order: 1
    width: 100%
    max-width: 314px
    margin: 33px 0 0 auto

  .list-social
    margin: 0
    justify-content: center

  .footer-box-contacts
    margin: 10px auto 0
    width: calc(100% - 165px - 265px)

  .footer-wrapper
    justify-content: flex-start

  footer
    .btn
      padding: 18px 36px

    .links-details
      display: none

    .logo
      margin: 15px 0 0

  .contacts-links
    font-size: 16px
    text-align: right
    justify-content: flex-end

    .svg-icon
      order: 1
      margin: 0 0 0 13px

  .article-sub-box__item
    font-size: 14px

  .article-img
    &:last-child
      margin: 0

  .article-box
    &:last-child
      margin: 0

/* Medium Devices, Desktops */
@media only screen and (max-width: 1100px)
  .container
    max-width: 976px

  header
    .links-details, .address
      display: none

  .header-box
    margin: 0 auto

  .phone
    margin: 0

  .menu
    font-size: 14px

  .header-top
    padding: 16px 0

  .not-undefined__img
    min-width: 525px

  .not-undefined
    .btn
      height: 52px
      margin: 0 0 20px
      font-size: 14px

  .pt-50
    padding-top: 35px

  .info-box
    margin: 30px 0 0

  .brands-page
    padding: 35px 0 0
    .mb-30
      margin-bottom: 20px

  .brand-box
    height: 108px

  .blog-page
    h2
      font-size: 20px
      line-height: 26px
      margin: 0 0 10px

  .date-article
    margin: 0 0 15px

  .blog-author
    margin: 25px 0 0

  .mb-55
    margin-bottom: 45px

  .blog-box__img
    height: 178px

  .blog-box__body
    padding: 15px 15px 0
    height: calc(100% - 178px)

  .blog-box
    h4
      font-size: 14px
      line-height: 17px
      margin: 0 0 8px
    .box-text
      font-size: 14px
      line-height: 20px
      margin: 0 0 10px
    &__footer
      font-size: 14px

  .blog-box__date
    font-size: 13px

  .blog-img
    height: 456px

  .blog-page-wrapper2
    .blog-img
      height: 343px

  .container
    padding: 0 12px

  .row
    margin: 0 -10px

  .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto
    padding: 0 10px

/* Small Devices, Tablets */
@media only screen and (max-width: 992px)
  .menu li
    margin: 0 20px 0 0

  .btn-burger
    display: flex

  .menu
    display: none

  .form-search
    margin: 0 auto 0 38px
    max-width: 336px

  .header-top
    .btn-burger
      display: none

  .map
    min-width: 492px

  .copyright
    margin: 25px 0 0
    max-width: none
    width: 100%




@media only screen and (max-width: 900px)
  .footer-box-callback
    max-width: none
    flex-direction: row
    align-items: center
    justify-content: flex-start
    display: flex !important
    margin: 30px 0 0


  .contacts-links
    justify-content: flex-start
    text-align: left
    margin: 0 30px 0 0

    .svg-icon
      order: -1
      margin: 0 15px 0 0

  .copyright
    margin: 30px 0 0

  .footer-box-menu
    margin: 20px 0 0

  .footer-wrapper
    justify-content: space-between


@media only screen and (max-width: 768px)
  .container
    max-width: 744px

  .logo
    max-width: 130px

  .not-undefined
    .box-text
      font-size: 17px

    .slider-decor3
      max-width: 204px
      left: -58px
      top: 0

    .slider-decor2
      bottom: -269px
      left: 62px
      max-width: 271px

    .slider-decor1
      left: -139px
      top: 193px
      max-width: 233px

  .not-undefined__img
    min-width: 764px

  .contacts-content
    padding: 40px 0
    margin: 0 0 10px

    &:before
      border-radius: 0
      right: -15px

  .map
    min-width: auto
    width: calc(100% + 30px)
    margin: 0 -15px
    height: 300px
    border-radius: 0

  .contacts-box
    max-width: 225px

  h1
    font-size: 28px

  .article-page
    h1
      font-size: 32px

  .share
    margin: 0 0 20px

  .article-box
    margin: 0 0 25px
    h2
      font-size: 20px
      line-height: 26px
    h3
      margin: 0 0 15px
      font-size: 17px
      line-height: 22px

  .article-sub-box
    margin: 40px 0 0
    &:last-child
      margin: 15px 0 0

  .article-sub-box__wrapper
    display: flex
    align-items: flex-start
    flex-wrap: wrap
    margin: 0 -10px

  .article-sub-box__item
    margin: 0
    width: 33.3%
    padding: 0 10px


  .brand-box
    height: 110px

  .brand-box-col
    padding: 0 10px

  .mb-35
    margin-bottom: 30px

  .blog-img
    height: 247px

  .blog-page
    h2
      margin: 0 0 5px
      font-size: 17px

  .date-article
    font-size: 14px
    margin: 0 0 5px

  .box-text-collapse-4
    -webkit-line-clamp: 3

  .blog-page-wrapper
    .box-text
      font-size: 14px
      line-height: 24px
    .links-details
      font-size: 14px

  .blog-author
    margin: 20px 0 0
    font-size: 14px
    h4
      font-size: 14px
    &__photo
      width: 55px
      height: 55px
    &__body
      width: calc(100% - 55px)

  .blog-box__img
    height: 205px

  .blog-box__body
    height: calc(100% - 205px)

  .blog-box-col
    margin: 0 0 40px

  .blog-page-wrapper2 .blog-img
    height: 247px

/* Extra Small Devices, Phones */
@media only screen and (max-width: 730px)
  .footer-box-contacts
    width: 100%
    order: 1
    margin: 25px 0 0
    justify-content: flex-start

  .footer-box-menu
    max-width: 50%
    margin: 20px 0 0
    width: 100%

  .list-social
    justify-content: flex-start

  .copyright
    margin: 25px 0 0

  footer
    .logo
      max-width: 165px
      margin: 10px auto 0 0



@media only screen and (max-width: 690px)
  .form-search
    max-width: 240px
    margin: 0 auto 0 20px

  .footer-box-callback
    flex-direction: column
    align-items: flex-start

  .contacts-links
    margin: 0 0 10px


@media only screen and (max-width: 576px)
  .header-bottom
    display: none

  .header-top
    .btn-burger
      display: flex
      margin: 0 10px 0 0

  header
    background: #0D0D0E
    color: #fff

    .phone
      display: none

    .logo
      width: 131px
      height: 26px
      background: url("../img/logo-footer.png") no-repeat center
        size: 100%

      img
        display: none

  .insta-link
    margin: 0

  .links-cabinet
    fill: #fff
    margin: 0 20px 0 0

    &:last-child
      margin: 0 7px 0 0

  .not-undefined
    padding: 218px 0
    background: rgba(#B0B1BF, .13)
    position: relative
    overflow: hidden

    &:after
      content: ''
      position: absolute
      width: 210px
      height: 206px
      background: url("../img/decor3.png") no-repeat center
        size: contain
      right: 11px
      top: -66px

    .slider-decor1
      left: -149px
      top: 140px

  .mobile-menu
    top: 0
    height: 100%

  .mobile-menu__head
    .phone
      display: block

  .contacts-content
    padding: 55px 0

  .map
    height: 220px

  .contacts
    .mt-35
      top: 20px


  h2
    font-size: 20px
    line-height: 26px

  .pt-50
    padding-top: 20px

  .delivery-box__icon
    width: 60px
    height: 60px
    padding: 15px

  .delivery-box__body
    width: calc(100% - 60px)
    padding: 0 0 0 15px

  .delivery-box
    font-size: 14px
    padding: 0 0 20px
    position: relative

    &:before
      content: ''
      position: absolute
      left: 50%
      bottom: 0
      transform: translate(-50%, 0)
      width: calc(100% + 30px)
      height: 1px
      background: #B0B1BF
      opacity: .3

    &:last-child
      padding: 0

      &:before
        display: none

    h4
      font-size: 14px

  h3
    font-size: 17px
    line-height: 22px

  .payment-page
    margin: 0 0 15px


  .box-text
    line-height: 24px
    p
      margin: 0 0 10px
      &:last-child
        margin: 0

  .mb-35
    margin-bottom: 30px

  h1
    font-size: 20px
    line-height: 26px

  .delivery-box
    .box-text
      font-size: 14px

  .article-page
    h1
      font-size: 20px
    .box-text
      line-height: 28px

  .article-img, .share
    margin: 0 0 10px

  .article-box
    margin: 0 0 20px
    h2
      font-size: 17px
      line-height: 22px

  .article-sub-box__item
    margin: 0 0 20px
    width: 50%

  .article-sub-box
    h3
      margin: 0 0 20px

  .brands-page
    padding: 20px 0 0
    .row-my
      margin: 0 -5px
    .mb-35
      margin-bottom: 20px
    .brand-box-col
      margin: 0 0 5px

  .brand-box
    padding: 20px
    height: 100px

  .brand-box-col
    padding: 0 2.5px

  .mb-55
    margin-bottom: 40px

  .blog-img
    height: 263px

  .blog-img-col
    margin: 0 0 15px

  .blog-page__content-footer
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: wrap

  .blog-page
    h2
      margin: 0 0 8px

  .blog-author
    margin: 15px 0 0

  .col-sx-6
    max-width: 50%
    flex: 0 0 50%

  .blog-box__img
    height: 125px

  .blog-box__body
    padding: 8px 0 0
    height: calc(100% - 125px)

  .blog-page-wrapper2 .blog-img
    height: 263px


@media only screen and (max-width: 480px)
  .container
    max-width: 472px

  footer
    .btn
      padding: 18px 20px

  .brand-box
    height: 70px

/* Custom, iPhone Retina */
@media only screen and (max-width: 420px)
  .not-undefined
    padding: 108px 0 107px

    &:after
      width: 130px
      height: 128px
      top: -30px
      right: 37px

    h1
      font-size: 35px

    .slider-decor1
      max-width: 123px
      left: -71px
      top: 75px

    .slider-decor2
      left: auto
      right: -15px
      bottom: -107px
      max-width: 143px

    .box-text
      margin: 15px 0 30px
      font-size: 14px

  footer
    padding: 35px 0 30px

    .logo
      max-width: 131px
      margin: 0 0 25px

  .footer-box-btn
    order: 2
    margin: 0 auto

  .list-social
    li
      margin: 0 15px 0 0

  .footer-wrapper
    flex-direction: column
    align-items: flex-start

  .footer-box-menu
    margin: 0
    max-width: 290px

  .footer-box-menu1
    display: none

  .footer-menu
    max-width: none

    br
      display: none

  .footer-box-menu2
    .footer-menu

      li
        &:first-child, &:nth-child(2)
          display: none

        &:last-child
          margin: 0 0 15px

  .copyright
    text-align: center
    font-size: 14px
    line-height: 24px

  .footer-box-contacts
    order: 2
    margin: 25px 0


  .delivery-box
    &__icon
      position: absolute
      left: 0
      top: 0

    &__body
      width: 100%
      padding: 0

    h4
      min-height: 70px
      display: flex
      align-items: center
      margin: 0
      padding: 0 0 10px 75px

  .info-box
    flex-direction: column
    align-items: center

    &__icon
      margin: 0 auto

    &__content
      text-align: center
      line-height: 17px
      font-size: 14px
      padding: 0
      width: 100%
      margin: 10px auto 0

  .breadcrumb
    margin: 15px 0
    font-size: 14px
    line-height: 17px

  .breadcrumb-item + .breadcrumb-item::before
    margin: 0 15px

  .date-article
    margin: 0 0 15px

  .article-sub-box
    margin: 40px 0 0
    &:last-child
      margin: 40px 0 0

  .article-sub-box__item
    width: 100%
    &:last-child
      margin: 0

  .links-details
    display: block
    span
      display: inline
      line-height: 17px
      padding: 0 0 2px



@media only screen and (max-width: 375px)
  .header-box
    display: none

  header
    .logo
      margin: 0 auto 0 0

  .mobile-menu
    padding: 9px 16px 30px

    .form-search
      display: flex
      margin: 40px 0 25px 0
      max-width: 288px

    .btn-sing
      display: flex
      margin: 0 0 20px
      width: 100%

    .address
      display: flex
      margin: 15px 0 0
      color: #fff
      font-size: 16px
      font-weight: 500

      .svg-icon
        opacity: .3

    .phone
      display: block
      color: $accent

    &__head
      .phone
      display: none

      .insta-link
        display: flex

    &__body
      padding: 21px 0 0

  .blog-img
    height: 188px
    width: calc(100% + 32px)
    margin: 0 -16px

  .blog-page-wrapper2 .blog-img
    height: 188px

  .box-text-collapse-4
    -webkit-line-clamp: 2

  .col-sx-6
    flex: 0 0 100%
    max-width: 100%

  .blog-box__img
    height: 169px

  .blog-box__body
    height: calc(100% - 169px)


@media only screen and (max-width: 320px)
  .container
    max-width: 312px
    padding: 0 16px



