@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1680px)
  .not-undefined h1
    font-size: 90px

  .label-promo
    max-width: 180px

@media only screen and (max-width: 1570px)
  .selection-wrapper
    padding: 55px

  .selection-img
    max-width: 431px

@media only screen and (max-width: 1540px)
  .model-card
    max-width: 223px
    &__img
      height: 256px
    &__body
      padding: 10px 0 0
    &__title
      font-size: 14px

  .basket-card .amount
    margin: 0 28px 0 auto

  .total-basket
    padding: 25px

  .basket-card
    font-size: 14px
    padding: 7px 15px 8px 7px
    .btn-add-favorite
      right: 15px
      top: 20px

  .basket-card__body
    max-width: 285px
    padding: 0 0 0 15px

  .article
    margin: 5px 0 15px

  .selection-content
    width: 100%
    max-width: 490px

  .label-group
    max-width: 228px
    margin: 0 0 25px

  .form-selection
    align-items: center
    .links-details
      margin: 0 auto 0 25px

@media only screen and (max-width: 1450px)
  .not-undefined h1
    font-size: 60px

  .main-slider-box2 .main-slider__title
    font-size: 42px
    line-height: 1.4

  .main-slider-box2 .main-slider-box__content
    max-width: 452px

  .main-slider-box2 .main-slider-box__img
    width: calc(100% - 452px)

  .main-slider-box3 .main-slider-box__content
    max-width: 400px

  .main-slider-box3 .main-slider-box__img
    width: calc(100% - 400px)

  .total-basket__footer
    flex-direction: column
    align-items: flex-start

  .label-promo
    max-width: none
    width: 100%
    margin: 0 0 10px
    input
      height: 52px
      font-size: 14px
      padding: 0 10px 0 25px

  .total-basket
    .btn
      width: 100%
      height: 52px
      font-size: 14px

  .total-basket-box
    margin: 0 0 20px
    h3
      font-size: 17px
    .checkbox-title
      font-size: 14px

  .total-sum
    font-size: 20px

  .total-basket__wrap
    margin: 20px 0

@media only screen and (max-width: 1380px)
  .footer-menu
    font-size: 14px
    max-width: 200px

    li
      margin: 0 0 15px

  .logo
    max-width: 165px

  .main-slider__title
    font-size: 60px

  .main-slider-box
    .box-text
      font-size: 24px
      line-height: normal

  .main-slider-box__content
    max-width: 400px

  .main-slider-box__img
    margin: auto 0 0 auto


  .slider-decor1
    top: 17px
    left: 21px

  .slider-decor2
    left: 327px
    bottom: 27px

  .about-content h2
    font-size: 80px
    margin: 0 0 25px




@media only screen and (max-width: 1300px)
  .form-search
    max-width: 223px

  .menu li
    margin: 0 30px 0 0

  .header-bottom
    padding: 11px 0

  footer
    padding: 20px 0
    position: relative

    .btn
      padding: 16px 20px

  .list-social li
    margin: 0 10px 0 0

  .contacts-links
    font-size: 13px

  .main-slider-box
    padding: 0 0 0 50px

  .main-slider-box__img
    width: calc(100% - 400px)

  .advantages-box h3
    font-size: 17px
    line-height: 22px

  .availability-status
    font-size: 14px
    line-height: 17px

  .links-subscribe
    font-size: 14px
    position: absolute
    top: 50%
    transform: translate(0,-50%)
    right: 54px

  .test-modal .modal-dialog
    max-width: 952px

  .test-modal-box .modal-title
    font-size: 30px
    line-height: normal

  .selection-img
    max-width: 396px
    right: -24px

  .selection
    padding: 44px 0 10px
    h2
      margin: 0 0 25px

@media only screen and (max-width: 1200px)
  .logo
    max-width: 140px

  header
    .links-details
      margin: 0 0 0 20px

  .phone
    margin: 0 20px 0 0

  .address
    font-size: 14px

  .not-undefined
    h1
      font-size: 50px

    .slider-decor1
      max-width: 123px
      left: -73px

    .slider-decor2
      max-width: 155px
      left: 199px
      bottom: -76px

    .slider-decor3
      max-width: 116px
      left: -35px
      top: 4px

    .box-text
      margin: 20px 0 35px
      font-size: 18px
      font-weight: 600

  .catalog-dropdown__title
    font-size: 14px
    padding: 7px 18px
    margin: 0 0 15px

  .sidebar-menu, .sidebar-submenu
    font-size: 14px

  .sidebar-menu li a
    padding: 4px 6px

  .header-dropdown
    padding: 24px 0

  .sidebar-submenu
    margin: 8px 0 15px

  .table-sizes
    font-size: 13px

    th, td
      padding: 10px
      width: 58px
      height: 36px
      min-width: 56px

  .contacts-box
    font-size: 17px

    span
      margin: 0 0 5px

  .contacts
    h2
      margin: 0

  .contacts-content
    padding: 45px 0

  .map
    min-width: 600px

  .footer-box
    .copyright
      display: none

  .copyright
    max-width: none
    margin: 25px auto 0
    width: fit-content

  .footer-box-menu
    margin: 20px 24px 0 0
    order: 1

  .footer-box-callback
    order: 1
    width: 100%
    max-width: 314px
    margin: 33px 0 0 auto

  .list-social
    margin: 0
    justify-content: center

  .footer-box-contacts
    margin: 10px auto 0
    width: calc(100% - 165px - 265px)

  .footer-wrapper
    justify-content: flex-start

  footer
    .btn
      padding: 18px 36px

    .links-details
      display: none

    .logo
      margin: 15px 0 0

  .contacts-links
    font-size: 16px
    text-align: right
    justify-content: flex-end

    .svg-icon
      order: 1
      margin: 0 0 0 13px

  .article-sub-box__item
    font-size: 14px

  .article-img
    &:last-child
      margin: 0

  .article-box
    &:last-child
      margin: 0

  .advantages-box__col
    width: 33.3%
    padding: 0 10px

  .advantages-wrapper
    margin: 0 -10px

  .advantages-box
    padding: 20px
    position: relative
    h3
      padding: 0 0 0 72px
      min-height: 60px
      display: flex
      align-items: center
    .box-text
      padding: 7px 0 0


  .advantages-box__icon
    position: absolute
    left: 20px
    top: 20px
    margin: 0
    width: 60px
    height: 60px
    padding: 14px


  .scroll-text
    height: 259px


  .mCustomScrollBox
    padding: 0 0 50px 20px
    margin: 0
    &:before
      width: calc(100% - 20px)

  .about-content-text p
    margin: 0 0 15px

  .statistic-info
    margin: 15px 0
    font-size: 17px
    line-height: 22px
    p
      margin: 0
      line-height: 22px

  .statistic-info__icon
    margin: 0 17px 0 0

  .about-content h2
    font-size: 55px
    line-height: 55px

  .about
    padding: 0 0 45px

  .models-slider
    .slick-arrow
      background: #fff
      width: 48px
      height: 48px
      border-radius: 50%
      filter: drop-shadow(0px 0px 40px rgba(13, 13, 14, 0.15))
      padding: 13px
      z-index: 1
      top: 104px
    .slick-prev
      left: 0
    .slick-next
      right: 0

  .amount
    input
      font-size: 17px
      width: 26px
      height: 28px
    span
      width: 28px
      height: 28px
      padding: 7px

  .price-wrapper, .old-price, .links-clear
    font-size: 14px

  .basket-card
    .btn-delete
      margin: 0 0 0 30px

  .mb-35
    margin-bottom: 25px

  .basket-card__body
    max-width: 280px

  .basket-card__img
    width: 94px
    height: 100px
    min-width: 94px

  .total-basket-box
    font-size: 14px

    .checkbox-text
      line-height: 17px

  .total-basket__wrap
    font-size: 14px
    line-height: 17px

  .total-sum
    line-height: 26px

  .test-result-modal .modal-body
    padding: 35px 45px

  .test-modal-box .modal-title
    font-size: 30px
    line-height: normal

  .test-result__val
    margin: 20px 0 25px

  .links-prev-modal
    font-size: 14px

  .test-modal-box h6
    margin: 0 0 5px

  .test-result-box .box-text
    margin: 10px 0 25px

  .test-result-box h6
    font-size: 20px
    line-height: 26px

  .test-modal-box__img
    max-width: 252px
    margin: 0 0 15px

  .collapse-item__btn
    font-size: 14px
    line-height: 24px

  .test-modal-content
    height: 100%
    max-height: 449px

  .collapse-item__header
    align-items: center
    .label-checkbox
      margin: 0 0 auto

  .collapse-item .card-body
    font-size: 14px

  .sale-box
    height: 259px
    padding: 35px 30px
    margin: 0 0 8px
    width: calc(33.3% - 4px)
    h3
      margin: 0 0 10px

  .sale-box__img
    right: -20px

  .sale-box.bg-sale-6
    .sale-box__img
      right: 0

  .reviews
    margin: 45px 0

  .about-section-wrapper
    align-items: flex-start
    margin: 0 0 35px
    h3
      margin: 0 0 25px
    h2
      display: none

  .about-section
    h2
      text-align: center

  .author
    padding: 25px 20px
    font-size: 17px
    line-height: 22px
    margin: 0 0 20px
    h3
      margin: 0

  .about-section-wrapper__content
    width: calc(50% - 15px)
    max-width: none

  .about-section-wrapper__img
    width: calc(50% - 15px)
    height: 319px

  .instagram-portfolio__item
    height: 150px

  .seo-content-box
    margin: 25px 0 0
    h3
      margin: 0 0 25px
    .btn
      margin: 25px 0 0

/* Medium Devices, Desktops */
@media only screen and (max-width: 1100px)
  .container
    max-width: 976px

  header
    .links-details, .address
      display: none

  .header-box
    margin: 0 auto

  .phone
    margin: 0

  .menu
    font-size: 14px

  .header-top
    padding: 16px 0

  .not-undefined__img
    min-width: 525px

  .not-undefined
    .btn
      height: 52px
      margin: 0 0 20px
      font-size: 14px

  .pt-50
    padding-top: 35px

  .info-box
    margin: 30px 0 0

  .brands-page
    padding: 35px 0 0
    .mb-30
      margin-bottom: 20px

  .brand-box
    height: 108px

  .blog-page
    h2
      font-size: 20px
      line-height: 26px
      margin: 0 0 10px

  .date-article
    margin: 0 0 15px

  .blog-author
    margin: 25px 0 0

  .mb-55
    margin-bottom: 45px

  .blog-box__img
    height: 178px

  .blog-box__body
    padding: 15px 15px 0
    height: calc(100% - 178px)

  .blog-box
    h4
      font-size: 14px
      line-height: 17px
      margin: 0 0 8px
    .box-text
      font-size: 14px
      line-height: 20px
      margin: 0 0 10px
    &__footer
      font-size: 14px

  .blog-box__date
    font-size: 13px

  .blog-img
    height: 456px

  .blog-page-wrapper2
    .blog-img
      height: 343px

  .container
    padding: 0 12px

  .row
    margin: 0 -10px

  .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto
    padding: 0 10px

  .main-slider-box
    min-height: 370px

    .slider-decor3
      display: none
    .box-text
      margin: 25px 0 0
      font-size: 18px
      line-height: 24px

  .main-slider-box__content
    max-width: 300px

  .slider-decor1
    max-width: 67px

  .slider-decor2
    max-width: 98px

  .main-slider__title
    font-size: 50px

  .main-slider-box__img
    width: calc(100% - 300px)

  .advantages
    margin: 25px 0 35px

  .home
    margin: 11px 0 10px

  .main-slider-box2 .main-slider__title
    font-size: 40px
    line-height: 44px

  .text-bg
    padding: 0 12px 2px
    border-radius: 5px

  .main-slider-box2 .main-slider-box__content
    max-width: 417px

  .main-slider-box2 .main-slider-box__img
    width: calc(100% - 380px)
    margin: auto -44px 0 0

  .p-65
    padding: 40px 0

  .agitation-wrapper
    h2
      font-size: 20px
      line-height: 26px
      padding: 0
      text-align: center
      width: 100%
      max-width: 720px
      margin: 0 auto 25px
    .btn
      margin: 0 auto

  .models
    padding: 0 0 45px

  .btn-return
    font-size: 14px

  .test-modal-box .modal-title
    font-size: 20px
    line-height: 26px

  .test-result-modal .modal-dialog
    max-width: 790px

  .reviews
    padding: 45px 0
    h2
      text-align: center

  .reviews-slider
    padding: 0 67px
    .slick-prev
      left: 0
    .slick-next
      right: 0

  .reviews-box
    padding: 29px 45px 13px
    margin: 0 auto 20px
    width: 100%
    .box-text
      margin: 0 0 48px

/* Small Devices, Tablets */
@media only screen and (max-width: 992px)
  .menu li
    margin: 0 20px 0 0

  .btn-burger
    display: flex

  .menu
    display: none

  .form-search
    margin: 0 auto 0 38px
    max-width: 336px

  .header-top
    .btn-burger
      display: none

  .map
    min-width: 492px

  .copyright
    margin: 25px 0 0
    max-width: none
    width: 100%

  .mb-md-40
    margin-bottom: 40px

  .mb-lg0
    margin-bottom: 0

@media only screen and (max-width: 900px)
  .footer-box-callback
    max-width: none
    flex-direction: row
    align-items: center
    justify-content: flex-start
    display: flex !important
    margin: 30px 0 0


  .contacts-links
    justify-content: flex-start
    text-align: left
    margin: 0 30px 0 0

    .svg-icon
      order: -1
      margin: 0 15px 0 0

  .copyright
    margin: 30px 0 0

  .footer-box-menu
    margin: 20px 0 0

  .footer-wrapper
    justify-content: space-between

  .scroll-box-mobile
    width: 100%
    .mCustomScrollBox
      padding: 0 0 20px
      &:before
        display: none

  .models-slider

    display: flex
    align-items: flex-start

    .model-card
      margin: 0 20px 0 0

  .model-card
    width: 227px

  .models
    padding: 0 0 40px

  .selection-img
    right: -50px

@media only screen and (max-width: 768px)
  .container
    max-width: 744px

  .logo
    max-width: 130px

  .not-undefined
    .box-text
      font-size: 17px

    .slider-decor3
      max-width: 204px
      left: -58px
      top: 0

    .slider-decor2
      bottom: -269px
      left: 62px
      max-width: 271px

    .slider-decor1
      left: -139px
      top: 193px
      max-width: 233px

  .not-undefined__img
    min-width: 764px

  .contacts-content
    padding: 40px 0
    margin: 0 0 10px

    &:before
      border-radius: 0
      right: -15px

  .map
    min-width: auto
    width: calc(100% + 30px)
    margin: 0 -15px
    height: 300px
    border-radius: 0

  .contacts-box
    max-width: 225px

  h1
    font-size: 28px

  .article-page
    h1
      font-size: 32px

  .share
    margin: 0 0 20px

  .article-box
    margin: 0 0 25px
    h2
      font-size: 20px
      line-height: 26px
    h3
      margin: 0 0 15px
      font-size: 17px
      line-height: 22px

  .article-sub-box
    margin: 40px 0 0
    &:last-child
      margin: 15px 0 0

  .article-sub-box__wrapper
    display: flex
    align-items: flex-start
    flex-wrap: wrap
    margin: 0 -10px

  .article-sub-box__item
    margin: 0
    width: 33.3%
    padding: 0 10px


  .brand-box
    height: 110px

  .brand-box-col
    padding: 0 10px

  .mb-35
    margin-bottom: 30px

  .blog-img
    height: 247px

  .blog-page
    h2
      margin: 0 0 5px
      font-size: 17px

  .date-article
    font-size: 14px
    margin: 0 0 5px

  .box-text-collapse-4
    -webkit-line-clamp: 3

  .blog-page-wrapper
    .box-text
      font-size: 14px
      line-height: 24px
    .links-details
      font-size: 14px

  .blog-author
    margin: 20px 0 0
    font-size: 14px
    h4
      font-size: 14px
    &__photo
      width: 55px
      height: 55px
    &__body
      width: calc(100% - 55px)

  .blog-box__img
    height: 205px

  .blog-box__body
    height: calc(100% - 205px)

  .blog-box-col
    margin: 0 0 40px

  .blog-page-wrapper2 .blog-img
    height: 247px

  .main-slider__title
    font-size: 40px
    line-height: 40px

  .main-slider-box
    min-height: 280px
    .box-text
      font-size: 16px

  .slider-decor2
    left: 211px
    bottom: -15px

  .main-slider-box__content
    max-width: 243px


  .main-slider-box__img
    width: calc(100% - 203px)
    margin: auto -40px 0 auto

  .main-slider-box2 .main-slider__title
    font-size: 30px
    line-height: 36px

  .main-slider-box2 .main-slider-box__content
    max-width: 320px

  .main-slider-box2 .main-slider-box__img
    width: calc(100% - 300px)

  .main-slider-box3 .main-slider-box__content
    max-width: 280px

  .main-slider-box3 .main-slider-box__img
    width: calc(100% - 250px)

  .advantages-box
    padding: 25px
    h3
      min-height: auto
      margin: 10px 0
      padding: 0
    &__icon
      position: relative
      top: 0
      left: 0

  .mCustomScrollBox
    padding: 0
    &:before
      display: none

  .about-content-text
    max-height: 168px
    overflow: hidden
    height: 100%
    margin: 0 0 15px
    .mCSB_scrollTools
      display: none !important
    .mCSB_inside>.mCSB_container
      top: 0 !important

  .about
    padding: 0 0 40px

  .total-basket
    padding: 30px


  .mb-md-40
    margin-bottom: 0

  .contacts
    margin: 40px 0 10px

  .btn-delete
    width: 20px
    height: 20px

  .btn-add-favorite
    width: 20px
    height: 17px

  .basket-card
    .price-wrapper
      margin: 0 auto
    .btn-delete
      margin: 0
    .amount
      margin: 0 0 0 10px
    .links-details
      line-height: 17px

  .basket-card__size p
    font-size: 14px


  .basket-card__body
    margin: 0
    max-width: 270px

  .mb-sm0
    margin-bottom: 0

  .basket-page
    h1
      margin: 0 0 20px

  .links-clear
    margin: 0 0 20px auto

  .links-subscribe
    position: relative
    transform: none
    top: 0
    right: 0
    margin: 0 auto

  .basket-card-not
    .btn-delete
      margin: 0 0 0 auto

  .basket-page-checkout
    h1
      margin: 0 0 15px
    .box-text-info
      margin: 15px 0 0

  .test-result-modal .modal-dialog
    max-width: 720px

  .test-result-box .box-text
    font-size: 14px
    line-height: 20px

  .test-modal .modal-dialog
    max-width: 720px

  .test-modal .modal-body
    padding: 35px 15px 35px 35px

  .test-modal-box .modal-title
    margin: 5px 0 16px

  .test-modal-box__img
    max-width: 300px

  .collapse-item
    .card-body
      padding: 7px 0 0
    .checkbox-custom
      top: 0
    .icon-arrow
      margin: -5px 0 0 5px

  .collapse-item__btn
    line-height: 17px

  .test-modal-content
    max-height: 505px
    .mCustomScrollBox
      padding: 0 20px 50px 0
      &:before
        display: block
        height: 100px
        bottom: -50px
        width: calc(100% - 20px)
        left: 0
        right: auto

  .selection-img
    max-width: 431px
    right: -95px

  .selection
    padding: 40px 0 20px

  .selection-wrapper
    border-radius: 0
    width: calc(100% + 48px)
    margin: 0 -24px
    padding: 55px 24px

  .sale-box
    width: calc(50% - 10px)
    margin: 0 0 20px
    height: 289px
    padding: 45px 40px 43px
    &__img
      right: 0

  .reviews-box
    width: 649px
    margin: 0 20px 25px 0
    padding: 29px 45px 40px
    .box-text
      margin: 0 0 20px

  .reviews
    h2
      text-align: left
      font-size: 20px
      line-height: 26px

  .reviews-slider
    padding: 0

  .instagram-portfolio__item
    width: 170px
    min-width: 170px
    height: 170px
    margin: 0 10px 10px 0
    max-width: none

  .scroll-box-about
    width: 100%
    .mCSB_horizontal.mCSB_inside>.mCSB_container
      margin: 0
    .mCustomScrollBox
      padding: 0
      &:before
        display: none

  .seo-content-box
    margin: 15px 0 0
    .box-text
      max-height: 84px
      overflow: hidden
      margin: 0 0 20px
    h3
      font-size: 17px
      margin: 0 0 15px

  .about-section-wrapper__content
    width: calc(50% - 10px)
    .box-text
      max-height: 196px
      overflow: hidden
      margin: 0 0 20px

  .author
    padding: 25px 11px 25px 20px

  .about-section-wrapper__img
    height: 376px
    width: calc(50% - 10px)

  .instagram-portfolio
    padding: 0 0 25px



@media only screen and (max-width: 730px)
  .footer-box-contacts
    width: 100%
    order: 1
    margin: 25px 0 0
    justify-content: flex-start

  .footer-box-menu
    max-width: 50%
    margin: 20px 0 0
    width: 100%

  .list-social
    justify-content: flex-start

  .copyright
    margin: 25px 0 0

  footer
    .logo
      max-width: 165px
      margin: 10px auto 0 0

  .selection-img
    max-width: 350px

  .selection-content
    max-width: 465px



@media only screen and (max-width: 690px)
  .form-search
    max-width: 240px
    margin: 0 auto 0 20px

  .footer-box-callback
    flex-direction: column
    align-items: flex-start

  .contacts-links
    margin: 0 0 10px

  .basket-card__img
    width: 75px
    min-width: 75px
    height: 80px

  .article
    margin: 5px 0 10px

  .basket-card .btn-add-favorite
    top: 15px

  .test-result-modal
    .modal-body
      padding: 20px 18px
    .modal-content
      border-radius: 0

  .reviews-box
    width: 448px
    margin: 0 10px 15px 0

  .reviews
    h2
      margin: 0 0 25px

  .reviews-slider
    width: calc(100% + 32px)
    margin: 0 -16px
    padding: 0 0 0 16px


@media only screen and (max-width: 576px)
  .header-bottom
    display: none

  .header-top
    .btn-burger
      display: flex
      margin: 0 10px 0 0

  header
    background: #0D0D0E
    color: #fff

    .phone
      display: none

    .logo
      width: 131px
      height: 26px
      background: url("../img/logo-footer.svg") no-repeat center
        size: 100%

      img
        display: none

  .insta-link
    margin: 0

  .links-cabinet
    fill: #fff
    margin: 0 20px 0 0

    &:last-child
      margin: 0 7px 0 0

  .not-undefined
    padding: 218px 0
    background: rgba(#B0B1BF, .13)
    position: relative
    overflow: hidden

    &:after
      content: ''
      position: absolute
      width: 210px
      height: 206px
      background: url("../img/decor3.png") no-repeat center
        size: contain
      right: 11px
      top: -66px

    .slider-decor1
      left: -149px
      top: 140px

  .mobile-menu
    top: 0
    height: 100%

  .mobile-menu__head
    .phone
      display: block

  .contacts-content
    padding: 55px 0

  .map
    height: 220px

  .contacts
    .mt-35
      top: 20px


  h2
    font-size: 20px
    line-height: 26px

  .pt-50
    padding-top: 20px

  .delivery-box__icon
    width: 60px
    height: 60px
    padding: 15px

  .delivery-box__body
    width: calc(100% - 60px)
    padding: 0 0 0 15px

  .delivery-box
    font-size: 14px
    padding: 0 0 20px
    position: relative

    &:before
      content: ''
      position: absolute
      left: 50%
      bottom: 0
      transform: translate(-50%, 0)
      width: calc(100% + 30px)
      height: 1px
      background: #B0B1BF
      opacity: .3

    &:last-child
      padding: 0

      &:before
        display: none

    h4
      font-size: 14px

  h3
    font-size: 17px
    line-height: 22px

  .payment-page
    margin: 0 0 15px


  .box-text
    line-height: 24px
    p
      margin: 0 0 10px
      &:last-child
        margin: 0

  .mb-35
    margin-bottom: 30px

  h1
    font-size: 20px
    line-height: 26px

  .delivery-box
    .box-text
      font-size: 14px

  .article-page
    h1
      font-size: 20px
    .box-text
      line-height: 28px

  .article-img, .share
    margin: 0 0 10px

  .article-box
    margin: 0 0 20px
    h2
      font-size: 17px
      line-height: 22px

  .article-sub-box__item
    margin: 0 0 20px
    width: 50%

  .article-sub-box
    h3
      margin: 0 0 20px

  .brands-page
    padding: 20px 0 0
    .row-my
      margin: 0 -5px
    .mb-35
      margin-bottom: 20px
    .brand-box-col
      margin: 0 0 5px

  .brand-box
    padding: 20px
    height: 100px

  .brand-box-col
    padding: 0 2.5px

  .mb-55
    margin-bottom: 40px

  .blog-img
    height: 263px

  .blog-img-col
    margin: 0 0 15px

  .blog-page__content-footer
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: wrap

  .blog-page
    h2
      margin: 0 0 8px

  .blog-author
    margin: 15px 0 0

  .col-sx-6
    max-width: 50%
    flex: 0 0 50%

  .blog-box__img
    height: 125px

  .blog-box__body
    padding: 8px 0 0
    height: calc(100% - 125px)

  .blog-page-wrapper2 .blog-img
    height: 263px

  .main-slider-box__img
    max-width: 391px
    width: 100%
    margin: 12px auto 0

  .slider-decor1
    top: 39px
    left: 240px
    transform: rotate(44.41deg)

  .slider-decor2
    left: auto
    right: 44px
    bottom: 180px

  .main-slider-box3 .main-slider-box__img
    margin: 0 auto
    max-width: 320px
    width: 100%

  .main-slider-box3 .main-slider-box__content
    max-width: 280px

  .main-slider-box3:before
    display: none

  .main-slider
    margin: 0 -15px 15px
    width: calc(100% + 30px)

  .main-slider-box
    min-height: 400px
    padding: 25px 16px 0
    flex-direction: column
    align-items: flex-start

  .main-slider-box2 .main-slider-box__img
    max-width: 343px
    margin: 0 auto
    width: 100%


  .home
    margin: 0

  .advantages-box__col
    width: 50%

  .advantages
    margin: 15px 0 20px

  .about
    padding: 0 0 40px
    h2
      font-size: 40px
      max-width: 304px
      line-height: 40px

  .about-content-text
    max-height: none
    margin: 0
    .links-play
      display: none
    p
      display: none
      &:nth-child(-n+3)
        display: block

  .about-content
    margin: 0 0 25px

  .basket-card
    flex-wrap: wrap
    align-items: flex-start
    position: relative
    padding: 15px 16px 15px
    border:
      radius: 0
      color: rgba(#B0B1BF, .3)
    width: calc(100% + 32px)
    margin: 0 -16px -1px
    &:last-child
      margin: 0 -16px
    .btn-delete
      position: absolute
      bottom: 19px
      right: 19px
    .amount
      position: absolute
      left: 16px
      bottom: 15px
      margin: 0
    .price-wrapper
      margin: 0 10px 0 0
      flex-direction: row
      align-items: center
      flex-wrap: wrap
    .new-price
      margin: 0 10px 0 0
    .old-price
      margin: 0

  .basket-card__size
    margin: 0 0 10px
    p
      margin: 0
      white-space: nowrap

  .basket-card__img
    margin: 0 0 38px

  .basket-card__title
    font-size: 14px

  .links-clear
    justify-content: flex-start
    margin: 0 0 20px

  .mb-xs-20
    margin-bottom: 20px

  .total-basket
    border-radius: 0
    box-shadow: none
    width: calc(100% + 32px)
    margin: 0 -16px
    padding: 0 16px

  .total-basket__footer
    max-width: 214px

  .basket-card-return
    padding: 23px 16px
    margin: 0 -16px 10px
    border-radius: 0
    width: calc(100% + 32px)

    &__photo
      display: none

  .modal-dialog
    margin: .5rem auto
    max-width: 360px

  .modal-body
    padding: 30px 20px
    .box-text
      font-size: 14px
      margin: 15px auto 0
      p
        font-size: 14px
        line-height: 17px
    .links-details
      font-size: 14px
      line-height: 17px

  .form-entrance .btn
    margin: 15px auto 0

  .form input
    height: 52px
    font-size: 14px
    padding: 0 25px

  .btn-view-password
    width: 20px
    height: 24px

  .form .btn-view-password
    top: 14px
    right: 17px

  .form-entrance p
    font-size: 14px

  .form
    margin: 10px 0 0

  .entrance-social
    margin: 0 0 10px
    padding: 0 0 7px

  .list-entrance-social a
    height: 48px
    justify-content: center
    padding: 0 10px

  .consent
    font-size: 13px
    margin: 15px auto 0
    .links-details
      font-size: 13px

  .modal-title
    margin: 0 auto 5px

  .entrance-social p
    font-size: 14px
    line-height: 17px

  .list-entrance-social
    font-size: 14px

  .entrance-social-links__text
    margin: 0 0 0 5px

  .modal-product .modal-body .btn-group
    flex-direction: column
    align-items: center
    .btn
      width: 100%
      margin: 0 auto 10px
      &:last-child
        margin: 0 auto

  .test-modal
    .modal-dialog
      margin: 0 auto
    .modal-content
      border-radius: 0

    .modal-header
      background: #0D0D0E
      padding: 15px 16px
      border-radius: 0
      .close
        fill: #fff
        position: relative
        margin: 0 0 0 auto
        top: 0
        right: 0
    .modal-title
      text-align: left
      margin: 0
      color: #fff
    .modal-body
      padding: 20px 16px
    .mCSB_container
      overflow: visible
      top: 0 !important

  .test-result-modal
    .box-text
      margin: 10px 0 25px

  .test-modal-content
    max-height: none
    .btn
      margin: 0 auto

  .test-modal-box__img
    margin: 10px 0
    max-width: 211px

  .test-modal-content
    margin: 10px 0 0

  .test-result-box
    justify-content: flex-start
    .btn
      padding: 0 10px
      max-width: 260px
      width: 100%

  .test-modal-box
    h6
      display: none
    .modal-title
      color: #0D0D0E
      font-size: 17px
      line-height: 22px

  .test-result__val
    margin: 20px 0

  .test-modal-content .mCustomScrollBox
    padding: 0
    max-height: none
    overflow: visible
    &:before
      display: none

  .test-modal-content .mCSB_scrollTools
    display: none !important

  .selection
    padding: 40px 0 10px
    h2
      margin: 0 0 30px

  .selection-content
    max-width: 290px

  .selection-wrapper
    padding: 40px 16px
    width: calc(100% + 32px)
    margin: 0 -16px

  .label-group
    flex-direction: column
    align-items: center
    max-width: 137px
    text-align: center
    margin: 0 0 20px
    p
      font-size: 14px
    &__icon
      margin: 0 auto 10px
    &__text
      padding: 0
      width: 100%

  .form-selection
    button
      order: 1
    .links-details
      margin: 0 0 25px

  .selection-img
    max-width: 431px
    right: -142px

  .sale-box
    width: 100%
    margin: 0 0 10px
    padding: 30px 25px
    height: 210px
    h3
      margin: 0 0 15px

  .reviews-box
    padding: 30px 20px 20px
    .box-text
      margin: 0 0 19px

  .reviews-date
    width: 100%
    margin: 10px 0 0

  .reviews-slider__nav .slick-dots
    margin: 0 25px

  .seo-content-box .box-text
    line-height: 28px
    max-height: 168px
    margin: 0 0 15px

  .instagram-portfolio__item
    width: 135px
    height: 135px
    min-width: 135px
    margin: 0 5px 5px 0
    max-width: none

  .about-section
    h2
      margin: 0 auto 25px

  .about-section-wrapper
    margin: 0 0 40px

  .about-section-wrapper__content
    width: 100%

  .author
    max-width: 350px
    width: 100%
    margin: 0 auto 10px

  .about-section-wrapper__img
    width: 100%
    height: 241px
    max-width: 350px
    margin: 0 auto 15px

@media only screen and (max-width: 480px)
  .container
    max-width: 472px

  footer
    .btn
      padding: 18px 20px

  .brand-box
    height: 70px

  .test-modal-box .modal-title
    text-align: center

  .test-result__val
    text-align: center
    margin: 20px auto 30px

  .test-modal-box
    .links-prev-modal
      display: none

  .test-result-box
    .box-text
      text-align: left
    .btn
      margin: 0 auto
    .links-prev-modal
      display: flex

  .links-prev-modal
    justify-content: center
    margin: 20px auto 0

  .test-modal .modal-title
    text-align: left

/* Custom, iPhone Retina */
@media only screen and (max-width: 420px)
  .not-undefined
    padding: 108px 0 107px

    &:after
      width: 130px
      height: 128px
      top: -30px
      right: 37px

    h1
      font-size: 35px

    .slider-decor1
      max-width: 123px
      left: -71px
      top: 75px

    .slider-decor2
      left: auto
      right: -15px
      bottom: -107px
      max-width: 143px

    .box-text
      margin: 15px 0 30px
      font-size: 14px

  footer
    padding: 35px 0 30px

    .logo
      max-width: 131px
      margin: 0 0 25px

  .footer-box-btn
    order: 2
    margin: 0 auto

  .list-social
    li
      margin: 0 15px 0 0

  .footer-wrapper
    flex-direction: column
    align-items: flex-start

  .footer-box-menu
    margin: 0
    max-width: 290px

  .footer-box-menu1
    display: none

  .footer-menu
    max-width: none

    br
      display: none

  .footer-box-menu2
    .footer-menu

      li
        &:first-child, &:nth-child(2)
          display: none

        &:last-child
          margin: 0 0 15px

  .copyright
    text-align: center
    font-size: 14px
    line-height: 24px

  .footer-box-contacts
    order: 2
    margin: 25px 0


  .delivery-box
    &__icon
      position: absolute
      left: 0
      top: 0

    &__body
      width: 100%
      padding: 0

    h4
      min-height: 70px
      display: flex
      align-items: center
      margin: 0
      padding: 0 0 10px 75px

  .info-box
    flex-direction: column
    align-items: center

    &__icon
      margin: 0 auto

    &__content
      text-align: center
      line-height: 17px
      font-size: 14px
      padding: 0
      width: 100%
      margin: 10px auto 0

  .breadcrumb
    margin: 15px 0
    font-size: 14px
    line-height: 17px

  .breadcrumb-item + .breadcrumb-item::before
    margin: 0 15px

  .date-article
    margin: 0 0 15px

  .article-sub-box
    margin: 40px 0 0
    &:last-child
      margin: 40px 0 0

  .article-sub-box__item
    width: 100%
    &:last-child
      margin: 0

  .links-details
    display: block
    span
      display: inline
      line-height: 17px
      padding: 0 0 2px

  .advantages-box__col
    width: 100%
    margin: 0 0 10px

  .advantages-box
    padding: 20px
    h3
      min-height: 60px
      margin: 0 0 7px
      padding: 0 0 0 72px
    &__icon
      position: absolute
      left: 20px
      top: 20px

  .advantages
    margin: 15px 0 30px

  .agitation-wrapper
    h2
      text-align: left

  .btn
    font-size: 16px

  .agitation
    .btn
      padding: 0 10px

  .basket-card__body
    max-width: 190px

  .basket-card__title
    text-overflow: ellipsis
    display: -webkit-box
    -webkit-box-orient: vertical
    overflow: hidden
    -webkit-line-clamp: 3

  .links-clear__icon
    margin: 0 8px 0 0

  .total-basket__footer
    max-width: none

  .selection-img
    display: none

  .selection-content
    max-width: none

  .selection-wrapper
    padding: 40px 16px 45px

  .label-group
    max-width: none
    width: calc(50% - 10px)

  .form-selection
    .links-details
      display: flex
      width: 100%
      justify-content: center
      span
        display: flex
    button
      margin: 0 auto

  .selection
    h2
      text-align: center

  .reviews-box
    width: 100%
    margin: 0 auto 15px

  .author
    width: calc(100% + 24px)
    margin: 0 -16px 10px
    border-radius: 0
    max-width: none
    padding: 25px 16px

  .about-section
    h2
      text-align: left

  .about-section-wrapper__img
    height: 198px

  .about-section-wrapper__content
    .box-text
      height: 280px
      margin: 0 0 15px

  .seo-content-box
    h3
      margin: 0 0 20px
    .box-text
      height: 280px
      margin: 0 0 15px
    .btn
      margin: 25px auto 0

@media only screen and (max-width: 375px)
  .header-box
    display: none

  header
    .logo
      margin: 0 auto 0 0

  .mobile-menu
    padding: 9px 16px 30px

    .form-search
      display: flex
      margin: 40px 0 25px 0
      max-width: 288px

    .btn-sing
      display: flex
      margin: 0 0 20px
      width: 100%

    .address
      display: flex
      margin: 15px 0 0
      color: #fff
      font-size: 16px
      font-weight: 500

      .svg-icon
        opacity: .3

    .phone
      display: block
      color: $accent

    &__head
      .phone
      display: none

      .insta-link
        display: flex

    &__body
      padding: 21px 0 0

  .blog-img
    height: 188px
    width: calc(100% + 32px)
    margin: 0 -16px

  .blog-page-wrapper2 .blog-img
    height: 188px

  .box-text-collapse-4
    -webkit-line-clamp: 2

  .col-sx-6
    flex: 0 0 100%
    max-width: 100%

  .blog-box__img
    height: 169px

  .blog-box__body
    height: calc(100% - 169px)

  .main-slider-box__img
    min-width: 391px
    margin: 12px 0 0 -30px

  .slider-decor1
    left: auto
    right: 3px

  .main-slider-box2 .main-slider-box__img
    min-width: 343px
    margin: 0 -30px

  .text-bg
    padding: 0 7px 2px

  .main-slider
    margin: 0 -16px 15px
    width: calc(100% + 32px)

  .main-slider-box3 .main-slider-box__img
    min-width: 320px
    margin: 0 -20px

  .main-slider-box2 .main-slider__title
    font-size: 27px

  .modal-body
    padding: 20px 16px

  .list-entrance-social li
    margin: 0 0 6px
    width: calc(50% - 3px)

  .entrance-social p
    margin: 0 0 10px

  .form-entrance p
    margin: 0 0 10px

  .list-entrance-social
    font-size: 13px

  #confirmationModal, #passwordModal, #passwordChangeModal
    .modal-dialog
      max-width: 290px
    .modal-body
      padding: 33px 20px 25px


  .form-entrance .btn
    padding: 0 12px
    font-size: 15px

  .modal-header .close
    top: 12px
    right: 12px

  .modal-body
    .box-text
      text-align: center


  .test-result-box .box-text
    text-align: left


@media only screen and (min-width: 420px)
  .d-xs-none
    display: none !important

@media only screen and (min-width: 480px)
  .col-xs-5
    flex: 0 0 41.666667%
    width: 41.666667%

  .col-xs-7
    flex: 0 0 58.333333%
    width: 58.333333%

@media only screen and (min-width: 576px)
  .col-sm-4
    flex: 0 0 33.333333%
    width: 33.333333%

  .col-sm-8
    flex: 0 0 66.666667%
    width: 66.666667%


